---
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
const about = await getEntry("portfolio", "about");

if (!about) {
  throw new Error("About entry not found in portfolio content.");
}

const { title, image, description } = about.data;
---

<section
  class="w-full bg-blue-50 py-12 dark:bg-gradient-to-br dark:from-[#0f172a] dark:via-[#1e293b] dark:to-[#0a192f]"
>
  <div
    class="mx-auto flex max-w-6xl flex-col-reverse items-center gap-10 px-4 md:flex-row md:items-start"
  >
    {
      image && (
        <Image
          src={image}
          alt={title}
          class="mb-6 h-100 w-100 rounded-full border-4 border-blue-100 object-cover shadow-lg md:mb-0 dark:border-sky-900"
          loading="lazy"
        />
      )
    }
    <div class="flex-1">
      <h1 class="mb-4 text-4xl font-bold text-sky-700 dark:text-sky-300">
        {title}
      </h1>
      <p class="mb-6 text-lg text-gray-700 dark:text-gray-300">
        {description}
      </p>
    </div>
  </div>
</section>
