---
// Component imports
import MainLayout from "../layouts/MainLayout.astro";

import { Image } from "astro:assets";
import Link from "../components/main/Link.astro";
---

<MainLayout
  title="About Me"
  description="Learn more about Saif Abdelrazek, his interests, and his journey."
>
  <main class="about-page">
    <section class="about container" aria-label="About Me Section">
      <Image
        src={"/avatar.jpg"}
        alt="Saif Abdelrazek's avatar"
        width={200}
        height={330}
      />
      <div class="content">
        <h1 class="h1">About Me</h1>
        <p class="description">
          Hello! I'm Saif Abdelrazek, a passionate software developer and tech
          enthusiast. I love exploring new technologies and sharing my knowledge
          with others.
        </p>
        <p class="interests">
          My interests include web development, open source projects, and
          learning new programming languages. I enjoy collaborating with others
          and contributing to the tech community.
        </p>
        <Link href="/contact" text="Contact Me" style="secondary" />
      </div>

      <!-- <p class="contact">
        Feel free to reach out to me on <a
          href="https://www.linkedin.com/in/saifabdelrazek/"
          target="_blank"
          rel="noopener noreferrer">Linkedin</a
        > or check out my <a href="/blog">blog</a> for more insights!
      </p> -->
    </section>
  </main>
</MainLayout>
