---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Saif Abdelrazek | Personal Website"
  description="This is the personal website of Saif Abdelrazek, a full-stack developer. Explore my portfolio, projects, blog posts, and more."
>
  <main class="home-page">
    <section class="hero container" aria-label="Hero Section">
      <h1 class="h1">Welcome to My Personal Website</h1>
      <p class="description"></p>
      <a href="/about" class="btn btn-primary">Learn More</a>
    </section>
  </main>
</MainLayout>
