---
import { Icon } from "astro-icon/components";
import "./styles.css";
---

<dialog id="overlay-search-dialog">
  <div class="dialog-body">
    <div class="search-controls">
      <div class="composite-input">
        <Icon name="mdi:magnify" class="search-icon" width={20} height={20} />
        <input autofocus class="query" />
        <button class="clear-query">
          <Icon name="mdi:close" width={20} height={20} />
        </button>
      </div>
    </div>

    <div class="search-results">
      <!-- show this content if there are no results and no query -->
      <div class="default-content">
        <slot name="default-content" />
      </div>

      <!-- list of results -->
      <div class="search-results-list"></div>
    </div>

    <div class="dialog-footer">
      <!-- FIXME: parameterize for i18n -->
      Press <kbd>Esc</kbd> to close
    </div>
  </div>

  <!-- template for group header -->
  <template class="result-group-header-template">
    <div class="result-group-header" data-target="result-group-header"></div>
  </template>

  <!-- template for search results -->
  <template class="result-template">
    <a class="search-result" data-target="result">
      <span class="title" data-target="title"></span>
      <span class="description" data-target="description"></span>
    </a>
  </template>
</dialog>
