<footer
  class="mt-12 border-t border-blue-100 bg-blue-50/80 py-6 text-center text-blue-700 dark:border-sky-900 dark:bg-slate-900/60 dark:text-sky-200"
>
  <div>
    <p>
      &copy; {new Date().getFullYear()} Saif Abdelrazek Blog. All rights reserved.
    </p>
  </div>
</footer>
