---
interface Props {
  label: string;
  value: string;
  subvalue?: string;
}

const { label, value, subvalue } = Astro.props;
---

<div
  class="light:bg-blue-50 flex w-full flex-col items-center justify-center rounded-2xl border border-blue-100 p-6 shadow-2xl backdrop-blur-md transition-transform duration-200 hover:-translate-y-2 hover:scale-105 hover:shadow-blue-200/40 md:w-auto dark:border-sky-800 dark:bg-gradient-to-br dark:from-slate-900/80 dark:via-slate-800/80 dark:to-slate-900/60 dark:shadow-2xl dark:backdrop-blur-md dark:hover:shadow-blue-900/40"
>
  <span
    class="mb-2 text-base font-semibold tracking-wide text-blue-700 uppercase dark:text-sky-300"
  >
    {label}
  </span>
  <span class="text-2xl font-bold text-blue-700 dark:text-sky-100/90">
    {value}
  </span>
  {
    subvalue && (
      <span class="text-xl font-bold text-blue-700 dark:text-sky-100/90">
        {subvalue}
      </span>
    )
  }
</div>
