---
import "../styles/global.css";
import MainLayout from "./MainLayout.astro";
import NavBar from "../components/main/NavBar.astro";
import BlogFooter from "../components/blog/BlogFooter.astro";
interface Props {
  title: string;
  description?: string;
}
const {
  title = "SaiBLOG | Saif Abdelrazek",
  description = "Personal blog of Saif Abdelrazek || Could sometimes be the trash of my mind",
}: Props = Astro.props;
---

<MainLayout title={title} description={description}>
  <div
    class="min-h-screen w-full bg-blue-50 transition-colors duration-300 dark:bg-gradient-to-br dark:from-[#0f172a] dark:via-[#1e293b] dark:to-[#0a192f]"
  >
    <main class="container mx-auto px-2 py-12">
      <section
        class="mx-auto max-w-4xl rounded-2xl border border-blue-100 bg-white/80 p-8 shadow-2xl backdrop-blur-md transition-colors duration-300 dark:border-sky-900 dark:bg-gradient-to-br dark:from-slate-900/80 dark:via-slate-800/80 dark:to-slate-900/60 dark:shadow-2xl dark:backdrop-blur-md"
      >
        <h1
          class="mb-2 text-3xl font-extrabold tracking-tight text-blue-700 drop-shadow dark:text-sky-200"
        >
          {title}
        </h1>
        {
          description && (
            <p class="mb-6 text-blue-700/90 dark:text-sky-100/90">
              {description}
            </p>
          )
        }
        <slot />
      </section>
    </main>
    <BlogFooter />
  </div>
</MainLayout>
