---
import { componentIsHTMLElement } from "astro/runtime/server/render/dom.js";
import "../styles/global.css";
import MainLayout from "./MainLayout.astro";
import { Image } from "astro:assets";
import astroIcon from "../assets/astro.svg";
interface Props {
  frontmatter: {
    title: string;
    description: string;
    image: ImageMetadata;
  };
}
const { frontmatter } = Astro.props;
---

<MainLayout title={frontmatter.title} description={frontmatter.description}>
  <header>
    <div class="container"></div>
    <Image src={frontmatter.image} alt={frontmatter.title} />
  </header>
  <div class="post-content">
    <div class="content">
      <slot />
    </div>
    <div class="sidebar"></div>
  </div>
</MainLayout>
