---
import "../styles/global.css";
import MainLayout from "./MainLayout.astro";
import NavBar from "../components/main/NavBar.astro";
import BlogFooter from "../components/blog/BlogFooter.astro";
interface Props {
  title: string;
  description?: string;
}
const {
  title = "SaiBLOG | Saif Abdelrazek",
  description = "Personal blog of Saif Abdelrazek || Could sometimes be the trash of my mind",
}: Props = Astro.props;
---

<MainLayout title={title} description={description}>
  <main>
    <NavBar />
    <section>
      {description && <p>{description}</p>}
      <slot />
    </section>
  </main>
  <BlogFooter />
</MainLayout>
