---
import "../styles/global.css";
import { CLOUDFLARE_ANALYTICS_TOKEN } from "../config/env";
import { ClientRouter } from "astro:transitions";

const cfToken = CLOUDFLARE_ANALYTICS_TOKEN;

import NavBar from "../components/main/NavBar.astro";

interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const {
  title = "Saif Abdelrazek | Website",
  description = "Personal website of Saif Abdelrazek || Not just a website",
  image,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:image" content={image} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <!-- <ClientRouter /> -->
    <script
      defer
      src="https://umami.saifdev.xyz/script.js"
      data-website-id="40f66a27-85f1-41cf-84da-8b3ad7d73f80"></script>
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body>
    <NavBar />
    <main>
      <slot />
    </main>
    <script
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon={`{"token": ${cfToken}}`}></script>
  </body>
</html>
