---
import UserInfo from "../../components/stats/UserInfo.astro";
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout>
  <main
    class="flex min-h-screen w-full flex-col justify-between bg-gradient-to-br from-gray-950 via-gray-900 to-gray-800 p-4"
  >
    <div
      class="mb-6 rounded-xl border border-sky-700 bg-sky-950/80 p-6 text-center text-lg font-semibold text-sky-100 shadow-md"
    >
      Welcome to my secret page, don't be confused. I won't collect any data
      about anyone. Just a page for fun.
    </div>
    <div class="mb-4 flex gap-4">
      <section class="max-w-md flex-1">
        <UserInfo />
      </section>
      <section
        class="flex flex-1 cursor-pointer flex-col justify-center rounded-xl border border-gray-800 bg-gray-900/90 p-6 shadow-lg transition-all duration-300 hover:scale-105 hover:border-sky-500 hover:bg-gray-900/95 hover:shadow-2xl"
      >
        <h2 class="mb-2 text-xl font-bold text-slate-100">Top Right Block</h2>
        <p class="text-slate-300">Content for the top right block.</p>
      </section>
    </div>
    <section
      class="w-full cursor-pointer rounded-xl border border-gray-800 bg-gray-900/90 p-6 shadow-lg transition-all duration-300 hover:scale-105 hover:border-sky-500 hover:bg-gray-900/95 hover:shadow-2xl"
    >
      <h2 class="mb-2 text-xl font-bold text-slate-100">Bottom Block</h2>
      <p class="text-slate-300">Content for the bottom block.</p>
    </section>
  </main>
</MainLayout>
